
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
  }
  
  @media (min-width: 500px) {
    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr auto;
    }
    #left {
      grid-column: span 3;
      display: flex;
    }
  }
  
  @media (min-width: 900px) {
    #main {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    #left {
      grid-column: span 1;
      display: block;
    }
  }
  
  .header {
    grid-column: span 3;
  }
  
  #center {
    padding: 20px;
  }
  
  #left{
    background-color: #f90;
    padding: 20px;
    list-style: none;
    
  }
   
  #right {
    padding: 20px;
    background-color: #936;
  }
  
  footer {
    grid-column: span 3;
    padding: 30px;
    text-align: center;
    font-size: 1.4em;
    background-color: #690;
    color: white;
  }
  
  h1 {
    margin-bottom: 1em;
    font-size: 1.3em;
    font-weight: bold;
  }